/* Nav - header */
.header-div .header{
    padding-right: 3rem;
    padding-top: 4px;
}
.header-div .header a{
    font-size: smaller;
    text-decoration: none;
    color: black;
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-div nav{
    padding: 0;
}

.navbar-div a.active {
    font-weight: bolder;
}

.navbar-nav .header-item{
    border-radius: 8px;
    padding: 5px;
}

.navbar-nav .header-item:hover{
    background-color: rgb(206, 206, 206);
    font-weight: 700;
}

.navbar-nav .nav-custom-item{
    border-radius: 8px;
}

.navbar-nav .nav-custom-item i{
    margin-left: 3px;
}

.navbar-nav .nav-custom-item:hover{
    background-color: rgb(206, 206, 206);
    font-weight: bolder;
}

/* Product */
.product-list{
    margin: auto;
}
.product-list .card-holder{
    width: fit-content;
    display:inline-flex;
}

.product-list a{
    text-decoration: none;
    width: 18rem;
    padding: 0px;
    margin: 1rem 1rem 0rem 1rem;
}
.product-list a .card{
    color: black;
}
